*
{
    margin: 0px;
    padding: 0px;
}


body
{
    background-image: url(immagini/star.jpeg);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}


.font
{
    color: rgb(0, 126, 15);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}



#title
{
    color: rgb(27, 118, 0);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font: bold;
    background-color: rgb(56, 56, 56);
    min-width: 700px;
}

/*----------------------------------------------------------*/

#text-1
{
    background-color: rgb(57, 56, 54);
    margin-top: 125px;
    margin-left: 45px;
    margin-right: 50px;
    margin-bottom: auto;
    padding: 30px;

    min-width: 500px;
}


#shrek-image-1
{
    width: 700px;
    
    margin-top: 160px;
}


/*----------------------------------------------------------*/


#text-2
{
    background-color: rgb(57, 56, 54);
    margin-left: 50px;
    margin-right: 40px;
    margin-top: 260px;
    margin-bottom: auto;
    padding: 30px;
}

#shrek-image-2
{
    width: 100%;
    height: auto;
    margin-top: 350px;
    margin-left: 50px;
    margin-bottom: auto;
}
                              
/*----------------------------------------------------------*/

#text-3
{
    text-align: center;
    background-color: rgb(57, 56, 54);
    text-align: center;
    padding: 30px;
    margin-bottom: 30px;
    margin-top: 200px;
    margin-left: 350px;
    margin-right: 350px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

#shrek-video-1 
{
    width: 800px;
    margin-top: 50px;
    display: block;
    margin: 0 auto;
}

