*
{
    margin: 0px;
    padding: 0px;
}


body
{
    background-image: url(assets/image/star.webp);
}


.font
{
    color: rgb(0, 126, 15);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}



#title
{
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(27, 118, 0);
    background-color: rgb(56, 56, 56);
}

/*----------------------------------------------------------*/

#text-1
{
    background-color: rgb(57, 56, 54);
    margin-top: 125px;
    margin-left: 45px;
    margin-right: 50px;
    margin-bottom: auto;
    padding: 30px;
}


#shrek-image-1
{
    width: 90%;
    margin-top: 160px;
}


/*----------------------------------------------------------*/


#text-2
{
    background-color: rgb(57, 56, 54);
    margin-left: 10px;
    margin-top: 260px;
    margin-bottom: 100px;
    padding: 30px;
}

#shrek-image-2
{
    width: 90%;
    height: auto;
    margin-top: 300px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: auto;
}
                              
/*----------------------------------------------------------*/

#text-3
{
    font-weight: bold;
    background-color: rgb(57, 56, 54);
    color: rgb(27, 118, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

#shrek-video-1
{
    width: 80%;
    margin-top: 50px;
    display: block;
    margin: 0 auto;
}

